<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ScanSecond" value="600" />
    <add key="AddEndum" value="1" />

    <add key="StationSettingPath" value="D:\CS\configs-OutputMinutes" />
    
    <add key="InputPath" value="D:\DropBox\DOC\Z 新案子\MQTT 台中 何\台中 何 - 詹先生\何先生 追加\20191231" />
    <add key="OutputPath" value="d:\c1\output" />
        
    <add key="Titles" value="編號, 日期, 時間, 雨量刻度, 10分鐘雨量, 每小時雨量, 3小時累積雨量, 6小時累積雨量, 12小時累積雨量, 24小時累積雨量, 48小時累積雨量, 72小時累積雨量" />
    <add key="Cols" value="TEST_001, TIMD, TIMT, DI_0 Cnt, calc(diff([DI_0 Cnt])), calc(acc(diff([DI_0 Cnt])*0.5#6)), calc(acc(diff([DI_0 Cnt])#18)), calc(acc(diff([DI_0 Cnt])#36)), calc(acc(diff([DI_0 Cnt])#72)), calc(acc(diff([DI_0 Cnt])#144)), calc(acc(diff([DI_0 Cnt])#288)), calc(acc(diff([DI_0 Cnt])#432))" />
   
  </appSettings>

  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
